/* Main container */
.locked-box-challenge {
    background-color: #1c1c1c;
    color: #fff;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  /* Unlocked box */
  .unlocked-box {
    background-color: #fff;
    color: #fff;
    padding: 20px;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  /* Locked box */
  .locked-box {
    border: 4px solid #8b0000;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .locked-box h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .locked-box p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Combination lock */
  .combination-lock {
    display: flex;
    justify-content: center;
  }
  
  .digit {
    background-color: #8b0000;
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
  }
  
  /* Puzzle forms */
  form {
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    font-size: 1.2rem;
    background-color: #8b0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #4b0000;
  }
  
  /* Puzzle questions */
  p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
  }
  .unlocked-box h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .unlocked-box h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 100px;
    text-align: center;
    font-size: 100px;
  }
  
  .unlocked-box p {
    font-size: 1.2rem;
    margin-bottom: 80px;
    text-align: center;
  }